{
    "tabWidth": 4,
    "printWidth": 80,
    "singleQuote": true,
    "parser": "typescript",
    "importOrder": [
        "^preact.*",
        "^[./]",
        "^@hooks/(.*)$",
        "^@store/(.*)$",
        "^@shared/(.*)$",
        "^@gql/(.*)$",
        "^@components/(.*)$"
    ]
}
