@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Lora", serif;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.light-mode {
	--theme-bg-color: #deeeea;
	--theme-text-base: #231e23;
	--theme-text-primary: #bf1363;
}
.dark-mode {
	--theme-bg-color: #231e23;
	--theme-text-base: #deeeea;
	--theme-text-primary: #bf1363;
}
